<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/menu-styles.css') }}" rel="stylesheet">
</head>
<body>
    <div id="main">
        <div id="menu">
            <div id="cssmenu">

                <nav>
                <ul>
                    <li><img style="
                        margin-left: -400px;
                        margin-bottom: -5px;"
                        src='/static/images/fluidbusiness.ru' width="40" height="25"></li>
                    <li style="margin-left: -200px;"><a> <span>FLUIDBUSINESS GROUP</span></a></li>
                    <li><a href='#'><span>Home</span></a></li>
                    <li><a href="{{url_for('ProjectsView:get')}}"span>Projects</span></a></li>
                    <li><a href="{{url_for('ManagersView:get')}}"><span>Managers</span></a></li>
                    <li><a href="{{url_for('OrdersView:get')}}"><span>Orders</span></a></li>
                    <li class='last'><a href="{{url_for('LogistsView:get')}}"'><span>Logists</span></a></li>
                    <div class="profile">
                        <li ><a href="#"><span>{{current_user.first_name}} {{current_user.last_name}}</span></a></li>
                </div>
                 </ul>
                </nav>
            </div>

            
            <ul class="nav">
                <li>
                  <i class="fa fa-home">{{ manager.name }}</i>
                  
                </li>
                <li>
                    <div class="animated slideInLeft"> <a href="{{url_for('OrdersView:get')}}/managers/{{ manager.small_name }}">Перевозки</a></div>
                   
                <li>
                  
                  <div class="animated slideInLeft">Документы</div>
                </li>
             
            </ul>

        </div>

        <div id="content">
             <h1>Страница в разработке</h1>
            <h2>Здесь будут информация о менеджере проекта {{ manager.name }} </h2>
            <h3>Сейчас можно посмотреть перевозки по всем проектам менеджера. Нужно выбрать слева в меню пункт "Перевозки"</h3>
            <h3>Также можно перейти по отдельному проекту и посмотреть информацию по нему (поставщики, перевозки по проекту, сумма, затраченная на логистику)</h3>
            <span>Список проектов:</span>
            {% for project in projects %}
                <h3><a href="{{url_for('ProjectsView:get')}}{{ project.id }}">{{ project.name }}</a></h3>
            {% endfor %}



            </div>
        </div>

        <div id="footer">
            Development bu Oleg Maslo
        </div>
        
</div>
</body>
</html>

</body>
</html>